In [1]:
# Importing the required libraries
import csv
import pandas as pd
import numpy as np
from scipy import stats, integrate
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
# loading the data.
# Trip fare data:
#    medallion, hack_license, vendor_id, pickup_datetime, payment_type, 
#    fare_amount, surcharge, mta_tax, tip_amount, tolls_amount, total_amount
# Trip Details Data
#    medallion, hack_license, vendor_id, rate_code, store_and_fwd_flag, 
#    pickup_datetime, dropoff_datetime, passenger_count, trip_time_in_secs,
#    trip_distance, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude

trip_fare_file = "data/trip_fare_4.csv"
trip_fare = pd.read_csv(trip_fare_file)
trip_detail_file = "data/trip_data_4.csv"
trip_detail = pd.read_csv(trip_detail_file)

In [3]:
print trip_detail.shape
print trip_fare.shape

(15100468, 14)
(15100468, 11)

Combining the Data Sets

In [4]:
trip_data = pd.concat([trip_detail,trip_fare], axis=1)
trip_data.shape

(15100468, 25)

In [29]:
trip_fare.columns.tolist()

['medallion',
 ' hack_license',
 ' vendor_id',
 ' pickup_datetime',
 ' payment_type',
 ' fare_amount',
 ' surcharge',
 ' mta_tax',
 ' tip_amount',
 ' tolls_amount',
 ' total_amount']

In [31]:
trip_detail.columns.tolist()

['medallion',
 ' hack_license',
 ' vendor_id',
 ' rate_code',
 ' store_and_fwd_flag',
 ' pickup_datetime',
 ' dropoff_datetime',
 ' passenger_count',
 ' trip_time_in_secs',
 ' trip_distance',
 ' pickup_longitude',
 ' pickup_latitude',
 ' dropoff_longitude',
 ' dropoff_latitude']

In [5]:
del trip_detail ## freeing the memory
del trip_fare
#(14829788, 25)

In [6]:
trip_data.columns = ['medallion', 'hack_license', 'vendor_id',\
                     'rate_code', 'store_and_fwd_flag', 'pickup_datetime', \
                     'dropoff_datetime', 'passenger_count', 'trip_time_in_secs',\
                     'trip_distance', 'pickup_longitude', 'pickup_latitude',\
                     'dropoff_longitude', 'dropoff_latitude', 'medallion1', \
                     'hack_license1', 'vendor_id1', 'pickup_datetime1', 'payment_type',\
                     'fare_amount', 'surcharge', 'mta_tax', 'tip_amount', 'tolls_amount',\
                     'total_amount']

In [36]:
trip_data.columns.tolist()

['medallion',
 'hack_license',
 'vendor_id',
 'rate_code',
 'store_and_fwd_flag',
 'pickup_datetime',
 'dropoff_datetime',
 'passenger_count',
 'trip_time_in_secs',
 'trip_distance',
 'pickup_longitude',
 'pickup_latitude',
 'dropoff_longitude',
 'dropoff_latitude',
 'medallion1',
 'hack_license1',
 'vendor_id1',
 'pickup_datetime1',
 'payment_type',
 'fare_amount',
 'surcharge',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'total_amount']

In [7]:
del trip_data['medallion1']

In [8]:
del trip_data['hack_license1']
del trip_data['vendor_id1']
del trip_data['pickup_datetime1']

In [43]:
trip_data.shape

(15100468, 21)

In [49]:
trip_data.columns.tolist()

['medallion',
 'hack_license',
 'vendor_id',
 'rate_code',
 'store_and_fwd_flag',
 'pickup_datetime',
 'dropoff_datetime',
 'passenger_count',
 'trip_time_in_secs',
 'trip_distance',
 'pickup_longitude',
 'pickup_latitude',
 'dropoff_longitude',
 'dropoff_latitude',
 'payment_type',
 'fare_amount',
 'surcharge',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'total_amount']

In [50]:
trip_data['passenger_count'].value_counts()

1    10707072
2     1985742
5      890115
3      609849
6      609313
4      298146
0         229
9           1
8           1
Name: passenger_count, dtype: int64

In [51]:
trip_data['payment_type'].value_counts()

CRD    8105470
CSH    6943669
NOC      33595
DIS      11552
UNK       6182
Name: payment_type, dtype: int64

In [76]:
l = trip_data.describe(percentiles = [ 0.05 , 0.1 ,  0.15 , 0.2 ,  0.25  ,0.3  , 0.35 , 0.45 , 0.5  , 0.55  ,0.6  , 0.65,
  0.7,   0.75 , 0.8  , 0.85 , 0.9 ,  0.95,  1. ]).transpose()

In [75]:
l.to_csv("describe.csv")

In [9]:
trip_data['hour'] = trip_data['pickup_datetime'].apply(lambda x: x.split(" ")[1].split(":")[0])

In [78]:
trip_data['hour'].value_counts()

19    950590
18    922177
20    917030
21    881281
22    852428
14    755502
23    742929
17    739273
12    736474
09    725640
13    723050
15    720818
08    710687
11    704813
10    689784
16    602775
07    581624
00    571022
01    412951
06    319629
02    309334
03    223655
04    163405
05    143597
Name: hour, dtype: int64

In [80]:
trip_data['hour'].value_counts().to_csv("hour.csv")

In [10]:
trip_data['date'] = trip_data['pickup_datetime'].apply(lambda x: x.split(" ")[0].split("-")[2])

In [21]:
trip_data.to_csv("trip_data_basic.csv",index = False)

In [2]:
trip_data = pd.read_csv("trip_data_basic.csv")

In [22]:
trip_data.shape
trip_data["date"].value_counts()

20    570929
12    564860
13    555218
5     554436
19    544060
26    539015
27    538317
6     533177
4     532590
18    526055
11    525206
25    518574
3     513864
10    503211
17    501840
24    500551
23    498802
2     495549
14    485706
21    483324
16    481130
30    480499
9     477161
28    467900
7     461165
15    461076
29    459114
22    457622
8     440520
1     428997
Name: day, dtype: int64

In [3]:
#trip_data = trip_data.rename(columns={'day': 'date'})

In [3]:
trip_data.shape

(15100468, 23)

In [4]:
from sklearn.cross_validation import train_test_split # 1
trip_data_sample = trip_data.sample(frac=0.01, random_state=1)

/usr/local/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [5]:
trip_data_sample.shape
#del trip_data

(151005, 23)

In [6]:
del trip_data

Adding the Zip Code to the Data

In [7]:
from uszipcode import ZipcodeSearchEngine
search = ZipcodeSearchEngine()

def cordnts_zip(a,b):
    #print a,b
    try:
        location = search.by_coordinate(a,b)
        lctn_zip = location[0]["Zipcode"]
    except:
        lctn_zip = ''
    return lctn_zip

In [8]:
import time

start = time.time()
trip_data_sample['drop_zip'] = trip_data_sample.apply(lambda x:\
cordnts_zip(x['dropoff_latitude'],x['dropoff_longitude']),axis=1)
end = time.time()
print(end - start)

1186.19365597

In [9]:
import time
start = time.time()
trip_data_sample['pickup_zip'] = trip_data_sample.apply(lambda x:\
cordnts_zip(x['pickup_latitude'],x['pickup_longitude']),axis=1)
end = time.time()
print(end - start)

1143.70161796

In [14]:
def weekDay(row):
    year, month, day = row['pickup_datetime'].split(' ')[0].split("-")
    offset = [0, 31, 59, 90, 120, 151, 181, 212, 243, 273, 304, 334]
    
    year = int(year)
    month = int(month)
    day = int(day)
    
    week   = ['Sunday', 
              'Monday', 
              'Tuesday', 
              'Wednesday', 
              'Thursday',  
              'Friday', 
              'Saturday']
    afterFeb = 1
    if month > 2: afterFeb = 0
    aux = year - 1700 - afterFeb
    # dayOfWeek for 1700/1/1 = 5, Friday
    dayOfWeek  = 5
    # partial sum of days betweem current date and 1700/1/1
    dayOfWeek += (aux + afterFeb) * 365                  
    # leap year correction    
    dayOfWeek += aux / 4 - aux / 100 + (aux + 100) / 400     
    # sum monthly and day offsets
    dayOfWeek += offset[month - 1] + (day - 1)               
    dayOfWeek %= 7
    return dayOfWeek

In [15]:
trip_data_sample['day'] = trip_data_sample.apply(weekDay, axis=1, raw=True)

In [16]:
trip_data_sample.to_csv("trip_data_1_per.csv", index = False)

In [17]:
trip_data_sample['pickup_zip'].value_counts()

10119    9404
10012    7928
10003    7626
10020    6727
10010    6433
10014    6188
10022    6019
10016    5613
10023    5152
10065    5042
10024    4323
10021    4265
10028    4119
10128    4031
10075    3723
10036    3276
10018    3185
10009    3106
10019    3042
10111    2747
10011    2624
         2586
10025    2559
11430    2426
10013    2353
10173    2216
10154    2012
11371    1766
10017    1740
10167    1578
         ...
11417       1
11418       1
07090       1
10607       1
07071       1
07070       1
11021       1
07014       1
10805       1
11207       1
10462       1
07608       1
11429       1
02535       1
11423       1
11422       1
10310       1
10467       1
10465       1
10460       1
10801       1
10468       1
10469       1
11598       1
11040       1
07002       1
10803       1
07737       1
11432       1
07648       1
Name: pickup_zip, dtype: int64

In [21]:
from geopy.geocoders import Nominatim
geolocator = Nominatim()
location = geolocator.geocode("10119")
location.latitude

52.5301255

In [28]:
l =pd.read_csv("busy.csv")
l.head()

   Zipcode  Trips
0  10119.0   9404
1  10012.0   7928
2  10003.0   7626
3  10020.0   6727
4  10010.0   6433

In [31]:
from geopy.geocoders import Nominatim
geolocator = Nominatim()

def get_lat(row):
    if row['Zipcode']:
        location = geolocator.geocode(row['Zipcode'])
        return location.latitude
    else:
        return 0.0

def get_long(row):
    if row['Zipcode']:
        location = geolocator.geocode(row['Zipcode'])
        return location.longitude
    else:
        return 0.0

l["latitude"] = l.apply(get_lat,axis=1, raw=True)

In [33]:
l["longitude"] = l.apply(get_long,axis=1, raw=True)

Remove where the lat and long of pickup and drop of are zero

In [36]:
l = l[(l["latitude"]!=0.0) & (l["longitude"]!=0.0)]
l.to_csv("busiest2.csv",index = False)

In [37]:
trip_data_sample['mins'] = trip_data_sample['trip_time_in_secs'].apply(lambda x: x/60)

In [38]:
trip_data_sample.shape

(151005, 26)

In [39]:
trip_data_sample.columns.tolist()

['medallion',
 'hack_license',
 'vendor_id',
 'rate_code',
 'store_and_fwd_flag',
 'pickup_datetime',
 'dropoff_datetime',
 'passenger_count',
 'trip_time_in_secs',
 'trip_distance',
 'pickup_longitude',
 'pickup_latitude',
 'dropoff_longitude',
 'dropoff_latitude',
 'payment_type',
 'fare_amount',
 'surcharge',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'hour',
 'day',
 'drop_zip',
 'pickup_zip',
 'mins']

In [50]:
trip_data_sample = trip_data_sample[(trip_data_sample["drop_zip"]!="") & (trip_data_sample["pickup_zip"]!="") ]

In [51]:
trip_data_sample.shape

(148245, 26)

In [63]:
trip_data_sample.groupby(['drop_zip', "pickup_zip"], as_index=False).mins.agg({'sum' : np.sum,'std': np.std,\
                                                                               'mean': np.mean }).\
                                                                                    sort('std',ascending=False)

     drop_zip pickup_zip        std   sum       mean
3117    10112      11104  52.325902   106  53.000000
1913    10026      10173  47.095458   245  30.625000
7169    11430      11436  46.676547   214  42.800000
5611    11218      10019  33.941125   112  56.000000
7181    11432      10278  31.112698    98  49.000000
5366    11212      10119  29.466082   181  45.250000
259     10001      11371  29.161619   264  44.000000
1404    10019      11436  27.577164   115  57.500000
5976    11230      11371  27.221315   165  55.000000
6660    11373      10016  27.059194   154  30.800000
420     10004      10004  26.885288   257  13.526316
2372    10035      10011  26.870058    72  36.000000
880     10011      11415  26.870058   100  50.000000
3908    10280      10006  26.000000    57  19.000000
6335    11364      11430  25.455844    76  38.000000
3211    10119      10033  25.455844    74  37.000000
729     10009      11430  24.064382  1470  43.235294
3889    10278      11106  24.041631    42  21.000000
3740    10174      10037  24.041631    60  30.000000
3833    10199      11371  23.479779   168  33.600000
5706    11221      10016  23.334524    85  42.500000
82      07114      10012  23.028244   158  31.600000
2477    10036      11222  22.627417    70  35.000000
5827    11224      10020  22.627417    96  48.000000
6409    11368      11374  22.627417    46  23.000000
2886    10069      11430  21.594752   163  54.333333
2564    10038      10023  21.253235   149  29.800000
5929    11228      11369  21.213203    84  42.000000
4329    10463      11430  21.126603   131  43.666667
5142    11205      11369  20.579116   155  31.000000
...       ...        ...        ...   ...        ...
7270    11566      11430        NaN    31  31.000000
7271    11568      11430        NaN    38  38.000000
7274    11575      11430        NaN    19  19.000000
7275    11576      11369        NaN    45  45.000000
7276    11576      11576        NaN     1   1.000000
7277    11580      11369        NaN    33  33.000000
7280    11590      11430        NaN    26  26.000000
7281    11596      10017        NaN    48  48.000000
7283    11598      11598        NaN     1   1.000000
7285    11692      10003        NaN    48  48.000000
7286    11692      10119        NaN    51  51.000000
7287    11692      11205        NaN    33  33.000000
7288    11692      11371        NaN    65  65.000000
7290    11694      11369        NaN    45  45.000000
7293    11702      11430        NaN    79  79.000000
7294    11702      11701        NaN     5   5.000000
7295    11710      10020        NaN    43  43.000000
7296    11710      11436        NaN    25  25.000000
7297    11714      11714        NaN     0   0.000000
7298    11747      11747        NaN     0   0.000000
7299    11753      11371        NaN    38  38.000000
7300    11756      11756        NaN     1   1.000000
7301    11758      11758        NaN     0   0.000000
7302    11762      11430        NaN    27  27.000000
7303    11804      11430        NaN    34  34.000000
7304    12446      12446        NaN    26  26.000000
7305    12878      10128        NaN    12  12.000000
7306    16226      10010        NaN     9   9.000000
7307    17841      10020        NaN     8   8.000000
7308    27522      10119        NaN    18  18.000000

[7309 rows x 5 columns]

In [70]:
l = trip_data_sample.groupby(['drop_zip', "pickup_zip"], as_index=False).fare_amount.agg({'sum' : np.sum,'std': np.std,\
                                                                               'mean': np.mean }).\
                                                                                    sort('std')

In [72]:
l.to_csv("trip_consistent_fare.csv")

In [71]:
l

     drop_zip pickup_zip  std      sum    mean
7109    11430      10013  0.0   676.00   52.00
5117    11205      10103  0.0    29.00   14.50
6713    11374      10029  0.0    63.00   31.50
6470    11369      11105  0.0    37.50   12.50
7103    11430      10006  0.0   260.00   52.00
7102    11430      10004  0.0   520.00   52.00
7101    11430      10003  0.0  1872.00   52.00
2482    10036      11430  0.0  2184.00   52.00
2483    10036      11436  0.0   156.00   52.00
7099    11430      10001  0.0   312.00   52.00
2487    10037      10004  0.0    64.00   32.00
2488    10037      10007  0.0    59.00   29.50
2973    10103      10065  0.0    35.00   17.50
658     10007      11430  0.0   936.00   52.00
5096    11205      10004  0.0    36.00   18.00
6441    11369      10032  0.0    55.00   27.50
3900    10278      11430  0.0   780.00   52.00
3841    10278      10005  0.0    17.00    8.50
2116    10029      11430  0.0   416.00   52.00
880     10011      11415  0.0   104.00   52.00
7114    11430      10019  0.0  1196.00   52.00
4243    10459      10016  0.0    52.00   26.00
7113    11430      10018  0.0  1456.00   52.00
6526    11370      11377  0.0    16.00    8.00
7112    11430      10017  0.0   676.00   52.00
7111    11430      10016  0.0  2392.00   52.00
3065    10111      11436  0.0   104.00   52.00
7110    11430      10014  0.0  1300.00   52.00
6827    11377      11102  0.0    22.00   11.00
7108    11430      10012  0.0  1612.00   52.00
...       ...        ...  ...      ...     ...
7270    11566      11430  NaN    83.00   83.00
7271    11568      11430  NaN   110.50  110.50
7274    11575      11430  NaN    56.50   56.50
7275    11576      11369  NaN    94.00   94.00
7276    11576      11576  NaN    89.00   89.00
7277    11580      11369  NaN    42.00   42.00
7280    11590      11430  NaN    52.00   52.00
7281    11596      10017  NaN    86.50   86.50
7283    11598      11598  NaN     2.50    2.50
7285    11692      10003  NaN    56.50   56.50
7286    11692      10119  NaN    76.50   76.50
7287    11692      11205  NaN    39.00   39.00
7288    11692      11371  NaN    63.00   63.00
7290    11694      11369  NaN    54.50   54.50
7293    11702      11430  NaN   157.00  157.00
7294    11702      11701  NaN     8.00    8.00
7295    11710      10020  NaN    81.50   81.50
7296    11710      11436  NaN   141.25  141.25
7297    11714      11714  NaN     3.00    3.00
7298    11747      11747  NaN   160.00  160.00
7299    11753      11371  NaN    79.00   79.00
7300    11756      11756  NaN     4.00    4.00
7301    11758      11758  NaN    52.00   52.00
7302    11762      11430  NaN    96.00   96.00
7303    11804      11430  NaN    68.00   68.00
7304    12446      12446  NaN    19.50   19.50
7305    12878      10128  NaN    13.00   13.00
7306    16226      10010  NaN     8.50    8.50
7307    17841      10020  NaN     7.50    7.50
7308    27522      10119  NaN    12.00   12.00

[7309 rows x 5 columns]

In [73]:
trip_data_sample.to_csv("trip_sample.csv")